<!DOCTYPE html>
<html lang="ru" dir="ltr">
  <head>
    <meta charset="utf-8">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
  </head>
  <body>
    <!-- обязательно сохранить порядок элементов -->
    <div class="entry-content clearfix" style="display:flex; flex-direction:column; align-items:center; justify-content:center; margin-top: 10px">
      <canvas></canvas>
    </div>
    <script src="/static/js/jquery.click-hold.js"></script>
    <script src="/static/js/button.js"></script>
    <script src="/static/js/master.js"></script>
    <!--  -->
  </body>
</html>
